$background: #070610;

// Accents:
$accent-color: #FFA500;
$secondary-accent-color: #1E90FF;
$gray-accent-color: #2F2F2F;

$basic-text: #FFFFFF;

// Input styling:
$input-bg: #272727;
$input-text: #FFFFFF;
$input-border: #FFA500;
